<!DOCTYPE html>
<html lang="en" xmlns:background-repeat="http://www.w3.org/1999/xhtml"
      xmlns:background-size="http://www.w3.org/1999/xhtml" xmlns:background-position="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    </style>

    <title>Gerstein Club Campus Navigation System</title>

    <!-- Bootstrap core CSS -->
    <link href={{ url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css") }} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={{ url_for('static', filename="css/simple-sidebar.css") }} rel="stylesheet">

</head>

<body background ={{ url_for('static', filename='image/BG.jpg') }}>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                 <li class="sidebar-brand">
                    <a href="#"> Quick Search </a>
                </li>
                <li>
                    <a href="#">
                        <form action="/Navigation-In-Campus/" method="post">
                            <button name="Navigation In Campus" type="submit">Navigation In Campus</button>
                        </form>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <form action="/Navigation-In-Building/" method="post">
                            <button name="Navigation In Building" type="submit">Navigation In Building</button>
                        </form>
                    </a>
                </li>
                 <li>
                     <a href="#">
                         <form action="/scheduling/" method="post">
                            <button name="Book a room" type="submit">Book a room</button>
                         </form>
                     </a>
                 </li>
                <li>
                     <a href="#">
                         <form action="/news/" method="post">
                            <button name="Campus News" type="submit">Campus News</button>
                         </form>
                     </a>
                 </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">See More...</a>
            </div>
        </div>
    <img src={{ url_for('static', filename='image/LOGO.PNG') }} align="middle">
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src={{ url_for('static', filename="vendor/jquery/jquery.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
